<h1>User Login</h1>

<%= form_tag(user_session) do %>
    <div class="login-field">
        <%= label_tag "Email: " %>
        <%= text_field_tag :email %>
    </div>

    <div class="login-field">
        <%= label_tag "Password: " %>
        <%= password_field_tag :password %>
    </div>

    <%= submit_tag "Sign In" %>
<% end %>

<%= link_to "Sign In", user_session %>