<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title> Fuhgeddit</title>
		<link rel= "stylesheet" href= "css/bootstrap.min.css">
		<head>
			<h2>Fuhgeddit</h2>
			<% @posts.each do |post| %>
		</head>
		<body>
			
			<ul class="posts">
				
				<li class="post">
					<%= link_to post.title, post_path(post) %>
				</li>
				<li>
					<%= link_to "#{post.comments.count} comments", post_path(post) %> submitted <%= time_ago_in_words(post.created_at) %> ago by <%post.user_id %>
				</li>
				
				<div>
					<%= link_to "Visit Post", post.url %>
				</div>
				<div class="upvote">
				<%= link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-up"), like_post_path(post), class: "btn btn-success", type: "button" %>
					<!-- <%= post.get_upvotes.size %> -->
				</div>
				<div class="score">
					<%= post.score %>
				</div>
				<div class="downvote">
					<%= link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-down"), like_post_path(post), class: "btn btn-success", type: "button" %>
					<!-- <%= post.get_downvotes.size%> -->
				</div>
			</ul>
			<% end %>
			<div class="posts-nav">
				<%= paginate @posts %>
				<br>
				<%= link_to "Add a New Post", posts_new_path %>
			</div>
		</body>
	</html>