<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport", content="width=device-width, initial-scale=1" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <nav class="navbar navbar-inverse">
      <title>Fuhgeddit</title>
      <link rel="stylesheet" type="text/css" href="
        https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      </head>
      <body>
        <div class="container">
          <div class="masthead">
            <%= render 'layouts/user_header' %>
            <h3 class="muted_title"><img src="" alt="" style="width:50px;height:50px;"><a class="fud">Fuhgeddit</h3></a>
            <h5 class="muted">A ridiculous version of Reddit</h5>
          </div>
        </nav>
        
        <div class="jumbotron text-center">
          <% if flash[:notice] %>
          <h2><div class="alert"><%= flash[:notice] %></div></h2>
          <% end %>
          <% if flash[:alert] %>
          <b class="alert"><%= flash[:alert] %></b>
          <% end %>
          <% if current_user %>
          <h3><span style="color:white">Welcome back to Fuhgeddit!, <%= current_user.first_name %>!</span></h3>
          <%= link_to content_tag(:span, "Sign Out", class: "glyphicon glyphicon-off"), destroy_user_session_path, :method => :delete, class: "btn btn-sm btn-danger", type: "button" %>
          <% else %>
          <h1><span style="color:white">Welcome, Back!</span></h1>
          <b class="lead">
            You must sign in or sign up before you can access content.
          </b>
          <div class="row-fluid">
            <div class="span6">
              <%= link_to content_tag(:span, "Sign In", class: "glyphicon glyphicon-user"), new_user_session_path, class: "btn btn-info", type: "button" %>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <%= link_to content_tag(:span, "Sign Up", class: "glyphicon glyphicon-plus"), new_user_registration_path, class: "btn btn-success", type: "button" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= yield %>
</body>
</html>